<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAK_2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAK_2016.Properties.Settings.sak_dbConnectionString"
            connectionString="Data Source=|DataDirectory|\sak_db.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="SAK_2016.Properties.Settings.bdSystemConnectionString"
            connectionString="server=localhost;user id=root;database=bd_system"
            providerName="MySql.Data.MySqlClient" />
        <add name="SAK_2016.Properties.Settings.bd_cableConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=bd_cable"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <applicationSettings>
        <SAK_2016.Properties.Settings>
            <setting name="isTestApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberOfComUnits" serializeAs="String">
                <value>26</value>
            </setting>
        </SAK_2016.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
