<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAK_2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAK_2016.Properties.Settings.rootConnectionString"
            connectionString="UserId=root;Server=localhost;Password=;CharacterSet=cp1251;" />
    </connectionStrings>
    <applicationSettings>
        <SAK_2016.Properties.Settings>
            <setting name="isTestApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberOfComUnits" serializeAs="String">
                <value>26</value>
            </setting>
            <setting name="dbName" serializeAs="String">
                <value>db_sak</value>
            </setting>
        </SAK_2016.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup></configuration>
