<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SAK_2016.Properties.dbSakQueries" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="SAK_2016.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SAK_2016.Properties.dbSakQueries" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SAK_2016.Properties.Settings.rootConnectionString"
            connectionString="UserId=root;Server=localhost;Password=;CharacterSet=cp1251;" />
    </connectionStrings>
    <applicationSettings>
        <SAK_2016.Properties.dbSakQueries>
            <setting name="dbName" serializeAs="String">
                <value>db_sak</value>
            </setting>
            <setting name="selectCables" serializeAs="String">
                <value>SELECT Cables.id, Cables.name, Cables.struct_name,  Cables.notes, Cables.code_okp, Cables.code_kch, documents.short_name as document_name FROM Cables LEFT JOIN documents ON (Cables.document_id = documents.id)</value>
            </setting>
            <setting name="selectCableStructures" serializeAs="String">
                <value>SELECT Cables.id, Cables.name, Cables.struct_name,  Cables.notes, Cables.code_okp, Cables.code_kch, documents.short_name as document_name FROM Cables LEFT JOIN documents ON (Cables.document_id = documents.id)</value>
            </setting>
            <setting name="selectCableMarks" serializeAs="String">
                <value>SELECT Distinct Cables.name from Cables ORDER BY Cables.name ASC</value>
            </setting>
            <setting name="selectLeadMaterials" serializeAs="String">
                <value>SELECT lead_materials.id, lead_materials.name from lead_materials ORDER BY lead_materials.id ASC</value>
            </setting>
            <setting name="selectLeadDiameters" serializeAs="String">
                <value>SELECT DISTINCT cable_structures.lead_diameter FROM cable_structures ORDER BY cable_structures.lead_diameter ASC</value>
            </setting>
            <setting name="selectIsolationMaterials" serializeAs="String">
                <value>SELECT isolation_materials.id, isolation_materials.name from isolation_materials ORDER BY isolation_materials.id ASC</value>
            </setting>
            <setting name="selectUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="selectDocuments" serializeAs="String">
                <value>SELECT Distinct documents.id, documents.short_name, documents.full_name  FROM documents </value>
            </setting>
            <setting name="selectDrFormuls" serializeAs="String">
                <value>SELECT * FROM dr_formuls ORDER BY dr_formuls.id ASC</value>
            </setting>
            <setting name="selectDrBringingFormuls" serializeAs="String">
                <value>SELECT * FROM dr_bringing_formuls ORDER BY dr_bringing_formuls.id ASC</value>
            </setting>
            <setting name="selectWaveResistance" serializeAs="String">
                <value>SELECT Distinct cable_structures.wave_resistance from cable_structures ORDER BY cable_structures.wave_resistance ASC</value>
            </setting>
            <setting name="selectCableStructureTypes" serializeAs="String">
                <value>SELECT * from cable_structure_types ORDER BY cable_structure_types.id ASC</value>
            </setting>
            <setting name="selectBarabanTypes" serializeAs="String">
                <value>SELECT * FROM baraban_types ORDER BY baraban_types.name ASC</value>
            </setting>
        </SAK_2016.Properties.dbSakQueries>
        <SAK_2016.Properties.Settings>
            <setting name="isTestApp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="numberOfComUnits" serializeAs="String">
                <value>26</value>
            </setting>
        </SAK_2016.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>
    <userSettings>
        <SAK_2016.Properties.dbSakQueries>
            <setting name="insertBarabanType" serializeAs="String">
                <value>INSERT INTO baraban_types (baraban_types.name, baraban_types.weight) VALUES ("{0}", {1})</value>
            </setting>
        </SAK_2016.Properties.dbSakQueries>
    </userSettings>
</configuration>
